<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Amazing Texas Hold'em app to help you track your poker performance</title>
</head>

<body>
    <form method="POST" name="session" action=''>
        <h1 style="text-align: center; color: blue;">Hello, this page is asking for performance  input for this session</h1>
        <p style="text-align: center;">
            Please enter a location:<input type='text' name='location' placeholder="e.g. Home"><br>
            Please enter session time in hours:<input type='text' name='hours' placeholder="e.g. 3"><br>
            Please enter total gain:<input type='number' name='win' placeholder="e.g. 100"><br>
            Please enter total loss:<input type='number' name='loss' placeholder="e.g. 100"><br>
            Please enter small blind:<input type='number' name='SB' placeholder="e.g. 1"><br>
            Please enter big blind:<input type='number' name='BB' placeholder="e.g. 2"><br>
        </p >
        <p style="text-align: center;">
            <input type='submit'>
        </p >
        <a href="{{ url_for('result') }}">Click here to see your result</a><br>
        <a href="{{ url_for('checklogin') }}">Click here to log out</a>
    </form>
</body>
</html>