<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Performance Results</title>
  </head>

  <body>
    <form method="POST" name="session" action=''>
        <h1 style="text-align: center; color: blue;">Hello, you can edit the record of your past sessions on this page</h1>
        <p style="text-align: center;">
            Please enter the session_id that you want to delete<input type='text' name='dl_id' placeholder="e.g. 1"><br>
        </p >
        <p style="text-align: center;">
            <input type='submit'>
        </p >
    </form>
  </body>
</html>