# Asking for data input: win, loss, small blind, big blind, session time, location

<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Amazing Texas Hold'em app to help you track your poker performance</title>
</head>

<body>
    <form method="POST" name="session" action=''>
        <h1 style="text-align: center; color: blue;">Hello, this page is asking for performance input for this session</h1>
        <p style="text-align: center;">
            Please enter your login id:<input type='text' name='login_id' placeholder="e.g. Corinna"><br>
            Please enter your password:<input type='text' name='password' placeholder="e.g. 123456"><br>
        </p >
        <p style="text-align: center;">
            <input type='submit'>
        </p >
    </form>
</body>
</html>