<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Amazing Texas Hold'em app to help you track your poker performance</title>
</head>

<body>
    <form method = 'POST'>
        <h1 style="text-align: center; color: blue;">Please Sign Up An Account to Proceed</h1>
        <p style="text-align: center;">
            Please create your login id:<input type = 'text' name = 'D_login_id' placeholder= "e.g. Corinna"><br>
            Please create your password:<input type='text' name='D_password' placeholder="e.g. 123456"><br>
        </p >
        <p style="text-align: center;">
            <input type='submit'>
        </p >
    </form>
    <p style="text-align: center;"><a href = '/'>Log In</a></p>
</body>
</html>